*{
    background-color: black;
    font-family: "Poppins", Arial, sans-serif;
}
body{
  background-color: black;
}
/* HEADER */
#navbar {
    background-color: black;
    padding: 10px 30px 10px 30px;
  }
  .nav-text {
    padding: 8px;
    font-size: 1.2rem;
    color: white;
  }
  .nav-text:hover {
    color: #ffbd39;
  }
  .nav-brand{
    color: white;
    font-size: 2rem;
  }
  .nav-brand:hover{
    color: white;
  }
  .navbar-nav {
    margin-left: auto;
  }
  nav,div,ul,li{
      padding: 0px 20px;
  }
  .navbar-toggler{
    color: white;
  }
  @media only screen and (max-width: 600px) {
    .nav-text{
      /* padding: 0px 0px;  */
      text-align: center; 
  }
  }
  .navbar-toggler-icon {
    background-image: url(images/toggler-image.png);
  }
  /* HOME  */
  #home{
    padding-top: 70px;
  }
  .home-hello{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffbd39;
    margin-bottom: 20px;
    background: none;
  }
  .home-img{
    height: 90%;
  }
  .home-text{
    color: white;
    background: none;
  }
  .home-left{
    /* text-align: center; */
    margin-top: 150px;
    padding-left: 100px;
    background: none;
  }
  .home-head-1{
    font-size: 70px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .home-head-2{
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .home-name{
    color: #ffbd39;
    background: none;
  }
  .btn-cv{
    background-color: #ffbd39;
    height: 50px;
    width: 150px;
    border-radius: 100px;
    border: 0px;
    margin-top: 20px;
  }
  .btn-cv:hover{
    background-color: white;
  }
  @media only screen and (max-width: 650px) {
    /* .head-mob{
    position: relative;
    }
    .home-left{
    position: absolute;
    text-align: center;
    top: 20%;
    margin-top: 0px;
    padding-left: 0px;
    background: none;
    opacity: 0.5;
    }
    .home-img{
    max-width: 100%;
    height: auto; 
    } */

    .head-mob::before{
      content:"";
      background-image: url(images/Picsart_23-07-21_15-49-26-198.png);
      opacity: 0.4;
      position: absolute;
       height: 100%;
      width: 415px; 
      top:15%;
      right:0px;
      bottom:10%;
      left:-15%;
      background-repeat: no-repeat;
    }
    .home-left{
      position: relative; 
      /* text-align: center; */
      right: 10%;
    }
    .home-img{
      display: none;
    }
    .home-head-2{
      margin-bottom: 10px;
    }
    .btn-cv{
      margin-top: 10px;
      margin-bottom: 100px;
    }
}
@media only screen and (max-width: 1000px) and(min-width: 650px){
  .home-left{
    text-align: center;
    margin-top: 80px;
    padding-left: 0px;
    background: none;
  }
  
}

/* ABOUT  */
.heading{
  color: #ffff;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.about-img{
  height:520px;
}
.about-head{
  color: #999999;
  margin-bottom: 20px;
  margin-top: 20px;
}
.about-table{
  color: #ffff;
  height: 350px;
  font-size: 1.5rem;
  margin-top: 20px;
}
.about-question{
  font-weight: bold;
}
.about-answer{
  color: #999999;
}
@media only screen and (max-width: 650px) {
   .about-img{
    display: none;
   }
   .about-table{
    height: 300px;
    font-size: 1.1rem;
    margin-top: 20px;
  }
  .about-head{
    text-align: center;
  }
  .about-table ,th,td{
    border: 1px solid white;
  }
  .table-colen{
    display: none;
  }
}
#about{
  margin-bottom: 50px;
}

/* SKILLS  */
#skills{
  margin-top: 50px;
  margin-bottom: 50px;
}
.skills-card {
  margin-top: 50px;
}
.img-card-1{
  width: 100px;
}
.img-card-2{
  width: 185px;
}
.img-card-3{
  width: 70px;
}
.img-card-4{
  width: 100px;
}
.img-card-5{
  width: 100px;
}
.img-card-6{
  width: 90px;
}
.card-bg{
  background-color: black;
  border: 1px solid white;
}
.card-text{
  color: #ffff;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

/* PROJECTS  */
.project-container{
  margin-top: 50px;
}
.project-bg{
  background-color: black;
}
.white-shadow {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.project-list{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.btn-project{
  background-color: #ffbd39;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}
.btn-project:hover{
  background-color: #999999;
  border: 1px solid #999999;
  color: #ffbd39;
}